<h1>New list</h1>

<% form_for([@user, @list]) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => "form", :locals => { :f => f } %>

<% end %>

<%= link_to 'Cancelar', user_lists_path(@user) %>

