<h1>Lista de Mercado</h1>

<p>
  <b>Name:</b>
  <%=h @list.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @list.date %>
</p>


<%= link_to 'Editar', edit_user_list_path(@user, @list) %> |
<%= link_to 'Listas', user_lists_path(@user) %>
