<h1>Bienvenido-Welcome-Velkommen-Benvenuti-Bonvena</h1>

<% if logged_in? %>
  <p><strong>You are logged in as <%=h current_user.login %></strong></p>
  <p><%= link_to 'Logout', session_path, :method => :delete %></p>
<% else %>
  <p><strong>You are currently not logged in.</strong></p>
  <p>
   <!-- <%= link_to 'Login', new_session_path %> or
    <%= link_to 'Sign Up', new_user_path %>-->
  </p>
<% end %>

