<h1>Bienvenido Al Supermercado</h1>
<!--<h1>Bienvenido-Welcome-Velkommen-Benvenuti-Bonvena</h1>-->

<% if logged_in? %>
  <p><strong>Nombre de Usuario: <%=h current_user.login %></strong></p>
  <p><%= link_to 'Cerrar Sesión', session_path, :method => :delete %></p>
<% else %>
  <p><strong>No ha iniciado sesión.</strong></p>
  <p>
   <!-- <%= link_to 'Login', new_session_path %> or
    <%= link_to 'Sign Up', new_user_path %>-->
  </p>
<% end %>

